# Test Report

# 1. Component Testing

Some component testing that we did was divided into testing the database and testing the layout to make sure if that everything was being displayed properly. 
First we tested the main by making sure that the after any button was pressed a new image would be displayed and nothing else would be changed, until the it reached a point were all the pictures available were rated. This test was mainly done by having each member of the team checking it the brute force way by checking if all images were displayed and that none were repeated.
Then the database testing consisted of having the team upload some pictures into the database from the beta of the application and then being able to retreave the pictures. This shows that the connection with the database is two-sided and it is stable.
These tests were chosen because these two components are the essential parts of the application and these tests were based on the requierements to show that everything is working properly.



# 2. System Testing
The system tests that we performed were being able to make a new profile for the app and checking if the profile successfully registered in the database. Once the profile is in firebase then the next test was on making sure that the user could log out and log out. Lastly the tests also included some that the everything loaded properly. These tests were performed by every team member to ensure that the system did not have any bugs. 

# 3. Acceptance Testing

Describe the system testing that you did that validated if features were considered accepted by the user. Describe how you used the acceptance criteria on your user stories to drive your system testing. List your user stories (title only) and state whether or not they are accepted as completely implemented, or not.

- 1. App for Looking at Dogs
Accepted as implemented

- 1.1 Simple the layout
Accepted as implemented
This user story gave the team some suggestions that led to the team to look for the most simple layout and made everything visible for the s
- 1.2 Data collection
Not implemented yet

- 1.3 Data Analyzer
Not implemented yet 

- 1.4 Webscrapper
Not implemented yet 

- 1.5 Adoption Suggestions.
Not implemented yet 

- 1.6 Export Preferences to CSV
Not implemented yet.